Hello {{.FirstName}},

You asked to join on {{.JoinedDate}}, but your email address has not yet been verified.

Once verified, you’ll be able to add your vehicle and its data, and access all the features available to members.

Please use the secure button below to verify your email address.

*Your account verification link will expire in 24 hours.*