Hi {{.FirstName}},

Thanks for joining our group on {{.JoinedDate}}.

Please verify your address by clicking on the secure button below.

Once verified, you’ll be able to add your vehicle, and access all the features available to members.

Many thanks

*Your account verification link will expire in 24 hours.*

*If you didn't ask to join, or have changed your mind, let us know at contact@ipace-owners.org*
